# --- 数据文件 ---
*.pkl
*.npy
*.mat
*.csv

# --- 视频和图片 ---
*.mp4
*.gif
*.jpg

# --- 缓存和运行环境 ---
__pycache__/
.ipynb_checkpoints/
.idea/
venv/
.env

# --- 忽略特定的文件夹 (如果有) ---
data/
output/
temp/
AI/
wandb/